/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.cpcache
.nrepl-port
/.shadow-cljs
/node_modules
/log

# Persists postgres dev server
/pg_persist

# Intellij/Cursive ignores
/.idea
/*.iml
