{:deps true
 :nrepl {:port 7002}
 :builds {:main
          {:target :browser
           :output-dir "target/cljsbuild/public/js"
           :asset-path "/js"
           :modules {:app {:entries [governance.app]}}
           :devtools {:watch-dir "resources/public" :preloads [re-frisk.preload]}
           :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}}
          :test {:target :node-test
                 :output-to "target/test/test.js"
                 :autorun true}}}
